{% extends "layout.html" %}

{% block title %}
    Personal Agenda
{% endblock %}

{% block main %}
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Description</th>
                    <th>Goal</th>
                    <th>Date</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for row in info %}
                <tr>
                    <td>{{ row.task }}</td>
                    <td>{{ row.description }}</td>
                    <td>{{ row.goal }}</td>
                    <td>{{ row.date }}</td>
                    <td>
                        <form action="/personal_todo" method="post">
                            <button id="{{ row.id }}" name="item_id" value="{{ row.id }}" class="btn btn-primary" type="submit">Remove</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            
            </tbody>
        </table>
        <a class="nav-link" href="/personal_todo_add"><button class="btn btn-primary">Add</button></a>

{% endblock %}