{% extends "layout.html" %}

{% block title %}
    Calendar Add
{% endblock %}

{% block main %}
    <form action="/calendar_add" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="event" name="event" placeholder="Event Name" type="text">
            <br>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="address" name="address" placeholder="Address" type="text">
            <br>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="date" name="date" placeholder="Date" type="date">
            <br>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="time" name="time" placeholder="Start Time-End Time" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
{% endblock %}