{% extends "layout.html" %}

{% block title %}
    Team Agenda Add
{% endblock %}

{% block main %}
    <form action="/team_todo_add" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="task" name="task" placeholder="Task" type="text">
            <br>
            <input width="200%" height="200" autocomplete="off" autofocus class="form-control mx-auto w-auto" id="description" name="description" placeholder="Description" type="text">
            <br>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="date" name="date" placeholder="Date" type="date">
            <br>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="person" name="person" placeholder="Person to Handle Task" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
{% endblock %}